*{
  margin: 0;
  padding: 0;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  transform:translate(-60px,-120px);
  position: fixed;
  z-index: 1000;
}
.menuBox{
  width:200px;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuCircleOuter{
    width: 200px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    transition: all 1s;
    transform-origin: 50% 100%;
    align-self: center;
    top:0;
    border: 2px solid #666666;
  }

.menuBox:hover .menuCircleOuter{
  transform:rotate(120deg);
}

.menuCircleOuter:before{
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    border-radius: 100px 100px 0 0;
    background-color: #a6a6a6;
    transform-origin: 50% 100%;
    transition: all 1s;
    rotate: -180deg;
    overflow: hidden;
}

.menuBox:hover .menuCircleOuter:before
{
      transform: rotate(180deg);
}
.menuCircle{
    background-color: #a6a6a6;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 100;
    position: absolute;
    pointer-events: none;
    border: 2px solid #666666;
  }

.menuBox:hover .icon
{
      transform: rotate(0deg);
}

.material-symbols-outlined {
  position: absolute;
  transform: translate(0px, 0px);
   /* transform: translate(60px, 60px);*/
  z-index: 10000000;
  color: #474747;
  cursor: default;
  transition: all 1s;
  transform-origin: 50% 50%;
  pointer-events: none;
  font-size: 80px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

.menuBox:hover .material-symbols-outlined
{
   transform: rotate(90deg);
      
}

.flower {
  width: 300px;
  height: 300px;
  position: relative;
  transform:translate(-21px,56px);
  transform-origin: center;
  z-index: 1000;
}

.overflowControl {
  /*background-color: green;
  opacity: 0.3;*/
  width: 100px;
  height: 200px;
  overflow: hidden;
  position: fixed;
  left: 115px;
  transform-origin: center left;
  transform: rotate(-70deg);
  transition: all 1s;
}

.menuBox:hover .overflowControl
{
   transform: rotate(31deg);
      
}

.menuBox:hover .petal
{
   transform: rotate(152deg);
      
}

.menuBox:hover .flower .petal:nth-child(4) .icon {
  opacity: 1;
}

.menuBox:hover .flower .petal:nth-child(5) .icon {
  opacity: 1;
}

.flower .petal {
  /*border: 1px solid #999;*/
  position: absolute;
  top: 0;
  display: inline-block;
  width: 30px;
  height: 95px;
  transform-origin: bottom center;
  transition: all 1s;
  left: -14px;
  transform: rotate(-100deg);
}
.flower .petal .icon {
  text-align: center;
  transform: rotate(180deg);
}

.flower .petal .icon img{
  width: 40px;
  border-radius: 20%;
  opacity: 1;
  transition: all 0.3s;
}

.flower .petal .icon img:hover{
  opacity: 0.7;
}

.flower .petal:nth-child(0) {
  rotate: 0deg;
}
.flower .petal:nth-child(0) .icon {
  rotate: 0deg;
}
.flower .petal:nth-child(1) {
  rotate: 60deg;
}
.flower .petal:nth-child(1) .icon {
  rotate: -60deg;
}
.flower .petal:nth-child(2) {
  rotate: 120deg;
}
.flower .petal:nth-child(2) .icon {
  rotate: -120deg;
}
.flower .petal:nth-child(3) {
  rotate: 180deg;
}
.flower .petal:nth-child(3) .icon {
  rotate: -180deg;
}
.flower .petal:nth-child(4) {
  rotate: 240deg;
}
.flower .petal:nth-child(4) .icon {
  rotate: -240deg;
  opacity: 0;
  transition-delay: 0.3s;
}
.flower .petal:nth-child(5) {
  rotate: 300deg;
}
.flower .petal:nth-child(5) .icon {
  rotate: -300deg;
    opacity: 0;
  transition-delay: 0.3s;
}
.flower .petal:nth-child(6) {
  rotate: 360deg;
}
.flower .petal:nth-child(6) .icon {
  rotate: -360deg;
}
.flower .petal:nth-child(7) {
  rotate: 420deg;
}
.flower .petal:nth-child(7) .icon {
  rotate: -420deg;
}