*{
  margin: 0;
  padding: 0;
}

body{
  margin:0;
  padding: 0;
}



.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.container > div > img {
  width: 100%;
  height: 100%;
  object-fit:cover; 
  filter: grayscale(1);
  transition: all 0.3s;
}

html, body {
  background-color: black;
  margin: 10px;
}

.container {
  display: grid;
  grid-gap: 5px;
  margin: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

/* STYLES FÖR MOBIL */

@media all and (max-width: 1150px) {
  .container{
    margin:0;
    grid-template-columns: repeat(auto-fit, minmax(200px,400px));
  }

}

.horizontal {
  grid-column: span 2;
  overflow: hidden;
  position: relative;
}

.vertical {
  grid-row: span 2;
  overflow: hidden;
  position: relative;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
  overflow: hidden;
  position: relative;
}

.normal {
  overflow: hidden;
  position: relative;
}

.container p{
position: absolute;
font-size: 0.5em;
bottom: 0;
width: 100%;
border-radius: 20%;
text-align: center;
opacity: 1;
transition: all 0.5s;
text-shadow: rgb(255, 255, 255) 0px 0px 3px;
}

.light p{
  color:black;
}

.dark p{
  text-shadow: rgb(0, 0, 0) 0px 0px 3px;
  color:white;
}

.container img:hover + p{
  opacity:0;
}

.container img:hover{
  filter: grayscale(0);
  scale: 110%;
}

.waviy {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(.2s * var(--i));
  z-index: 100;
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}


/* TIMELINE / HISTORY */

ul {
  list-style: none;
  clear: both;
}

.timeline-content {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.timeline ul li div img {
  width: 20vw;
  justify-content: flex-start;
  object-fit: cover;
  filter: grayscale(1);
  transition: all 1s;
}

.timeline-text {
  justify-content: flex-end;
  margin: 15px;
}


/*Heading*/

.timeline ul li h2 {
  color: white;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
}
/*Heading*/


/*Date*/
.timeline ul li h4 {
  text-align: center;
  font-family: 'Blinker', sans-serif;
}
/*Date*/


/*Description*/
.timeline ul li p {
  color: white;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Blinker', sans-serif;
}
/*Description*/


/* STYLES FÖR DATOR */
@media all and (min-width: 1100px) {

              /* udda list items sätts till vänster */
            li:nth-child(odd) .timeline-content {
              border-radius: 50px 0px 50px 50px; /* Sätter vilket hörn som inte ska vara avrundat */
              left: 3vw;
              width: 40vw;
            }
            /* jämna list items sätts till höger */
            li:nth-child(even) .timeline-content {
              border-radius: 0px 50px 50px 50px; /* Sätter vilket hörn som inte ska vara avrundat */
              left: 50.5vw;
              width: 40vw;
            }
            .vertical-line {
              border-left: 10px solid #343434;
              height: 94%;
              position: fixed;
              left: 50%;
              margin-left: -4px;
              top: 0;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
            }
            .arrow{
              border: solid #343434;
              border-width: 0 8px 8px 0;
              display: inline-block;
              padding: 10px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              z-index: 10000;
              left: 50%;
              bottom: 6%;
              position: fixed;
              margin-left: -13px;
            }
        }


/* STYLES FÖR STORLEKAR MELLAN DATOR OCH MOBIL */
@media all and (max-width: 1100px) {
            .timeline-content {
              border-radius: 50px;
              width: 90vw;
            }
        }


/* STYLES FÖR MOBIL */
@media all and (max-width: 590px) {
            .timeline-content{
              width: 100%;
              flex-direction: column-reverse;
            }

            li{
                left:0;
                width: 100%;
              }
              .timeline ul li div img {
                width: 100vw;
                height: 20%;
              }
              ul{
                left: -20px;
                position: relative;
                margin-top: -100px;
              }
          }


.timeline {
  margin-top: 150px;
}

/*  SCROLL ANIMATION */

.scrollFade {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}
.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--animate {
  transition: opacity 0.4s ease-in-out;
}

/*  SCROLL ANIMATION END */

/*  BACKGROUND COLOURS */

.red:hover{
  background-color: #8e2223;
  color: #f69b9c;
}

.orange:hover{
  background-color: #9d4c26;
  color: #f6b59b;
}

.yellow:hover{
  background-color: #9d9126;
  color: #dcd7b7;
}

.green:hover{
  background-color: #2d6f26;
  color: #afd0af;
}

.teal:hover{
  background-color: #28745d;
  color: #69c1ba;
}

.blue:hover{
  background-color: #262973;
  color: #7c8bd7;
}

.purple:hover{
  background-color: #632a77;
  color: #ad93e8;
}


.timeline-content{
  background-color: #4f4f4f;
  color:#c3c3c3;
  transition: all 1s;
}

.timeline-content:hover img{
  filter: grayscale(0);
}
/* TIMELIME END */

.indexGrid {

  margin: auto;
  margin-top: 10px;
  margin-bottom: 60px;

  top: 100px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 250px);
  grid-template-areas:
  "st st st st st si si si si si si si"
  "hi hi hi hi hi hi hi ht ht ht ht ht"
  "tt tt tt tt tt ti ti ti ti ti ti ti"
  "ki ki ki ki ki ki ki kt kt kt kt kt";
}

/* STYLES FÖR DATOR */

@media all and (min-width: 1150px) {
  .indexGrid {
    width: 70%;
    grid-template-rows: repeat(4, 450px);
  }
  #floatingCamera {
    width: 50%;

  }
  .indexGrid h3 {
    font-size: 2em;
    margin: 20px;
    margin-top: 20%;
  }
  .indexGrid p {
    font-size: 1.3em;
    margin: 15px;
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* STYLES FÖR MOBIL */

@media all and (max-width: 1150px) {
  .indexGrid {
    width: 100%;
  }
  #floatingCamera {
    width: 90%;
  }
  .indexGrid h3 {
    font-size: 1.4em;
    margin: 5px;
  }
  .indexGrid p {
    font-size: 0.9em;
    margin: 4px;
  }

}



/* GRID AREAS */

.box1 {
  grid-area: si;
}

.text1 {
  grid-area: st;
  background-color: #948963;
  justify-content: center;
}

.box2 {
  grid-area: hi;
}

.text2 {
  grid-area: ht;
  background-color: #3A1E12;
  justify-content: center;
}


.box3 {
  grid-area: ti;
}

.text3 {
  grid-area: tt;
  background-color: #85a3cc;
  justify-content: center;
}


.box4 {
  grid-area: ki;
}

.text4 {
  grid-area: kt;
  background-color: #462A2B;
  justify-content: center;
}


/* GRID AREAS END */

.photographyimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: all 1s;
}

.indexGrid h3{
  color: white;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
}

.indexGrid p {
  color:white;
  font-family: 'Blinker', sans-serif;
  text-align: center;
}

#floatingCamera{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#hiddenheader{
  opacity: 0;
  position: absolute;
}

.photographyimage:hover{
  filter: grayscale(0);
}

.photographyimage:hover .imageText{
  filter: grayscale(0);
}

.imageText:hover{
  filter: grayscale(0);
}

.imageText:hover{
  filter: grayscale(0);
}

.imageText{
  filter: grayscale(1);
  transition: all 1s;
}

.transition{
  width: 100%;
  height: 400px;
  background-image: linear-gradient(black, white);
  margin-top: 10%;
}

.transition2{
  width: 100%;
  height: 400px;
  background-image: linear-gradient(white, black);
}

/*MODEL VIEWER*/

:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 90%;
  background-color: #ffffff;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

/*MENU*/

*{
  margin: 0;
  padding: 0;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  transform:translate(-60px,-120px);
  position: fixed;
  z-index: 1000;
}
.menuBox{
  width:200px;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuCircleOuter{
    width: 200px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    transition: all 1s;
    transform-origin: 50% 100%;
    align-self: center;
    top:0;
  }

.menuBox:hover .menuCircleOuter{
  transform:rotate(120deg);
}

.menuCircleOuter:before{
    height: inherit;
    width: inherit;
    position: absolute;
    content: "";
    border-radius: 100px 100px 0 0;
    background-color: #a6a6a6;
    transform-origin: 50% 100%;
    transition: all 1s;
    rotate: -180deg;
    overflow: hidden;
}

.menuBox:hover .menuCircleOuter:before
{
      transform: rotate(180deg);
      box-shadow: 0 0 0 2px #666666 inset;
}
.menuCircle{
    background-color: #a6a6a6;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 100;
    position: absolute;
    pointer-events: none;
    border: 2px solid #666666;
  }

.menuBox:hover .icon
{
      transform: rotate(0deg);
}

.material-symbols-outlined {
  position: absolute;
  transform: translate(0px, 0px);
   /* transform: translate(60px, 60px);*/
  z-index: 10000000;
  color: #474747;
  cursor: default;
  transition: all 1s;
  transform-origin: 50% 50%;
  pointer-events: none;
  font-size: 80px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}

.menuBox:hover .material-symbols-outlined
{
   transform: rotate(90deg);
      
}

.flower {
  width: 300px;
  height: 300px;
  position: relative;
  transform:translate(-21px,56px);
  transform-origin: center;
  z-index: 1000;
}

.overflowControl {
  /*background-color: green;
  opacity: 0.3;*/
  width: 100px;
  height: 200px;
  overflow: hidden;
  position: fixed;
  left: 115px;
  transform-origin: center left;
  transform: rotate(-70deg);
  transition: all 1s;
}

.menuBox:hover .overflowControl
{
   transform: rotate(31deg);
      
}

.menuBox:hover .petal
{
   transform: rotate(152deg);
      
}

.menuBox:hover .flower .petal:nth-child(4) .icon {
  opacity: 1;
}

.menuBox:hover .flower .petal:nth-child(5) .icon {
  opacity: 1;
}
.menuBox:hover .flower .petal:nth-child(6) .icon {
  opacity: 1;
}
.menuBox:hover .flower .petal:nth-child(8) .icon {
  opacity: 1;
}

.flower .petal {
  /*border: 1px solid #999;*/
  position: absolute;
  top: 0;
  display: inline-block;
  width: 30px;
  height: 95px;
  transform-origin: bottom center;
  transition: all 1s;
  left: -14px;
  transform: rotate(-100deg);
}
.flower .petal .icon {
  text-align: center;
  transform: rotate(180deg);
}

.flower .petal .icon img{
  width: 40px;
  border-radius: 20%;
  opacity: 1;
  transition: all 0.3s;
}

.flower .petal .icon img:hover{
  opacity: 0.5;
}

.flower .petal:nth-child(0) {
  rotate: 0deg;
}
.flower .petal:nth-child(0) .icon {
  rotate: 0deg;
}
.flower .petal:nth-child(1) {
  rotate: 45deg;
}
.flower .petal:nth-child(1) .icon {
  rotate: -45deg;
}
.flower .petal:nth-child(2) {
  rotate: 90deg;
}
.flower .petal:nth-child(2) .icon {
  rotate: -90deg;
}
.flower .petal:nth-child(3) {
  rotate: 135deg;
}
.flower .petal:nth-child(3) .icon {
  rotate: -135deg;
}
.flower .petal:nth-child(4) {
  rotate: 180deg;
}
.flower .petal:nth-child(4) .icon {
  rotate: -180deg;
  opacity: 0;
  transition-delay: 0.3s;
}
.flower .petal:nth-child(5) {
  rotate: 225deg;
}
.flower .petal:nth-child(5) .icon {
  rotate: -225deg;
    opacity: 0;
  transition-delay: 0.3s;
}
.flower .petal:nth-child(6) {
  rotate: 270deg;
}
.flower .petal:nth-child(6) .icon {
  rotate: -270deg;
  opacity: 0;
  transition-delay: 0.3s;
}
.flower .petal:nth-child(7) {
  rotate: 315deg;
}
.flower .petal:nth-child(7) .icon {
  rotate: -315deg;
}

.flower .petal:nth-child(8) {
  rotate: 360deg;
}
.flower .petal:nth-child(8) .icon {
  rotate: -360deg;
  opacity: 0;
  transition-delay: 0.3s;
}

.flower .petal:nth-child(9) {
  rotate: 405deg;
}
.flower .petal:nth-child(9) .icon {
  rotate: -405deg;
}