*{
  margin: 0;
  padding: 0;
}

body{
  margin:0;
  padding: 0;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.container > div > img {
  width: 100%;
  height: 100%;
  object-fit:cover; 
  filter: grayscale(1);
  transition: all 0.3s;
}

html, body {
  background-color: black;
  margin: 10px;
}

.container {
  display: grid;
  grid-gap: 5px;
  margin: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
  overflow: hidden;
  position: relative;
}

.vertical {
  grid-row: span 2;
  overflow: hidden;
  position: relative;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
  overflow: hidden;
  position: relative;
}

.normal {
  overflow: hidden;
  position: relative;
}

.container p{
position: absolute;
font-size: 0.5em;
bottom: 0;
width: 100%;
border-radius: 20%;
text-align: center;
/*backdrop-filter: invert(100%);*/
text-shadow: rgb(255, 255, 255) 0px 0px 3px;
opacity: 1;
transition: all 0.5s;
}

.container img:hover + p{
  opacity:0;
}

.container img:hover{
  filter: grayscale(0);
  scale: 110%;
}

.waviy {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  /*font-family: 'Courier Prime', monospace;*/
  color: #fff;
  text-transform: uppercase;
  animation: flip 3s infinite;
  animation-delay: calc(.2s * var(--i));
  z-index: 100;
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

/* TIMELINE / HISTORY */

ul {
  list-style: none;
  clear: both;
}

.timeline-content {
  position: relative;
  margin-bottom: 50px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.timeline ul li div img {
  width: 20vw;
  justify-content: flex-start;
  object-fit: cover;
  filter: grayscale(1);
  transition: all 1s;
}

.timeline-text {
  justify-content: flex-end;
  margin: 15px;
}


/*Heading*/

.timeline ul li h2 {
  color: white;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
}
/*Heading*/


/*Date*/
.timeline ul li h4 {
  text-align: center;
  font-family: 'Blinker', sans-serif;
}
/*Date*/


/*Description*/
.timeline ul li p {
  color: white;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Blinker', sans-serif;
}
/*Description*/


/* STYLES FÖR DATOR */
@media all and (min-width: 1100px) {

              /* udda list items sätts till vänster */
            li:nth-child(odd) .timeline-content {
              border-radius: 50px 0px 50px 50px; /* Sätter vilket hörn som inte ska vara avrundat */
              left: 3vw;
              width: 40vw;
            }
            /* jämna list items sätts till höger */
            li:nth-child(even) .timeline-content {
              border-radius: 0px 50px 50px 50px; /* Sätter vilket hörn som inte ska vara avrundat */
              left: 50.5vw;
              width: 40vw;
            }
            .vertical-line {
              border-left: 10px solid #343434;
              height: 94%;
              position: fixed;
              left: 50%;
              margin-left: -4px;
              top: 0;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
            }
            .arrow{
              border: solid #343434;
              border-width: 0 8px 8px 0;
              display: inline-block;
              padding: 10px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              z-index: 10000;
              left: 50%;
              bottom: 6%;
              position: fixed;
              margin-left: -13px;
            }
        }


/* STYLES FÖR STORLEKAR MELLAN DATOR OCH MOBIL */
@media all and (max-width: 1100px) {
            .timeline-content {
              border-radius: 50px;
              width: 90vw;
            }
        }


/* STYLES FÖR MOBIL */
@media all and (max-width: 590px) {
            .timeline-content{
              width: 100%;
              flex-direction: column-reverse;
            }

            li{
                left:0;
                width: 100%;
              }
              .timeline ul li div img {
                width: 100vw;
                height: 20%;
              }
              .timeline-text{
              }
              ul{
                left: -20px;
                position: relative;
                margin-top: -100px;
              }
          }


.timeline {
  margin-top: 150px;
}

/*  SCROLL ANIMATION */

.scrollFade {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--hidden {
  opacity: 0;
  pointer-events: none;
}
.scrollFade--visible {
  opacity: 1;
  pointer-events: all;
}
.scrollFade--animate {
  transition: opacity 0.4s ease-in-out;
}

/*  SCROLL ANIMATION END */

/*  BACKGROUND COLOURS */

.red:hover{
  background-color: #8e2223;
  color: #f69b9c;
}

.orange:hover{
  background-color: #9d4c26;
  color: #f6b59b;
}

.yellow:hover{
  background-color: #9d9126;
  color: #dcd7b7;
}

.green:hover{
  background-color: #2d6f26;
  color: #afd0af;
}

.teal:hover{
  background-color: #28745d;
  color: #69c1ba;
}

.blue:hover{
  background-color: #262973;
  color: #7c8bd7;
}

.purple:hover{
  background-color: #632a77;
  color: #ad93e8;
}


.timeline-content{
  background-color: #4f4f4f;
  color:#c3c3c3;
  transition: all 1s;
}

.timeline-content:hover img{
  filter: grayscale(0);
}
/* TIMELIME END */

.indexGrid {

  margin: auto;
  margin-top: 10px;
  margin-bottom: 60px;

  top: 100px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 250px);
  grid-template-areas:
  "st st st st st si si si si si si si"
  "hi hi hi hi hi hi hi ht ht ht ht ht"
  "tt tt tt tt tt ti ti ti ti ti ti ti"
  "ki ki ki ki ki ki ki kt kt kt kt kt";
}

/* STYLES FÖR DATOR */

@media all and (min-width: 1150px) {
  .indexGrid {
    width: 55vw;
    grid-template-rows: repeat(4, 450px);
  }
  #floatingCamera {
    width: 50vw;

  }
  .indexGrid h3 {
    font-size: 2em;
    margin: 20px;
  }
  .indexGrid p {
    font-size: 1.3em;
    margin: 15px;
  }
}

/* STYLES FÖR MOBIL */

@media all and (max-width: 1150px) {
  .indexGrid {
    width: 100vw;
  }
  #ghiblilogo {
    width: 90vw;
  }
  .indexGrid h3 {
    font-size: 1.4em;
    margin: 5px;
  }
  .indexGrid p {
    font-size: 0.9em;
    margin: 4px;
  }

}



/* GRID AREAS */

.box1 {
  grid-area: si;
}

.text1 {
  grid-area: st;
  background-color: #948963;
  justify-content: center;
}

.box2 {
  grid-area: hi;
}

.text2 {
  grid-area: ht;
  background-color: #3A1E12;
  justify-content: center;
}


.box3 {
  grid-area: ti;
}

.text3 {
  grid-area: tt;
  background-color: #85a3cc;
  justify-content: center;
}


.box4 {
  grid-area: ki;
}

.text4 {
  grid-area: kt;
  background-color: #462A2B;
  justify-content: center;
}


/* GRID AREAS END */

.photographyimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
  transition: all 1s;
}

.indexGrid h3{
  color: white;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
}

.indexGrid p {
  color:white;
  font-family: 'Blinker', sans-serif;
  text-align: center;
}

#floatingCamera{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#hiddenheader{
  opacity: 0;
  position: absolute;
}

.photographyimage:hover{
  filter: grayscale(0);
}

.photographyimage:hover .imageText{
  filter: grayscale(0);
}

.imageText:hover{
  filter: grayscale(0);
}

.imageText:hover{
  filter: grayscale(0);
}

.imageText{
  filter: grayscale(1);
  transition: all 1s;
}

.transition{
  width: 100%;
  height: 400px;
  background-image: linear-gradient(black, white);
  margin-top: 10%;
}

.transition2{
  width: 100%;
  height: 400px;
  background-image: linear-gradient(white, black);
}